<mat-card class="userCard">
  <mat-card-header>
    <div mat-card-avatar>
      <img class="avatar" [src]="_user.avatar_url" width="100%">
    </div>
    <mat-card-title>{{_user.login}}
    </mat-card-title>
    <mat-card-subtitle>
      <button mat-icon-button (click)="switchFav()">
        <mat-icon [matTooltip]="isFav ? 'Favorilerden Çıkar':'Favorilere Ekle'">
          {{isFav ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>

      <a mat-icon-button [href]="_user.html_url" target="_blank" matTooltip="Kullanıcıyı görüntüle">
        <mat-icon>link</mat-icon>
      </a>

    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
