<mat-toolbar color="primary">
  <mat-form-field class="searchForm">
    <mat-label>Github Kullanıcı Adı</mat-label>
    <input matInput type="text" [(ngModel)]="searchtext" (ngModelChange)='searchUsers()'>
    <button mat-button *ngIf="searchtext" matSuffix mat-icon-button (click)="searchtext=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>

<div class="list" fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="start stretch" fxLayoutGap="10px" fxLayoutGap.gt-sm="10px grid">

  <div class="list-item" fxFlex.gt-sm="300px" *ngFor="let item of userList">
    <app-user-card [user]="item"></app-user-card>
  </div>



</div>

<mat-paginator [length]="total" [pageSize]="pSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)='paginate($event)'>
</mat-paginator>
